<ion-menu contentId="main-content">  
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" color="warning" (click)="gotoSectors()">Sectores</ion-button>
    <ion-button expand="block" color="warning">Trabajadores</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-img src="../../assets/images/ong_logo.png" class="background-image"></ion-img>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

  </ion-content>
</div>