<ion-header>
  <ion-toolbar>
    <ion-title>Add Worker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Añadir trabajador</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-img class="photo-frame" *ngIf="capturedPhoto" [src]="capturedPhoto" (click)="takePhoto()"></ion-img>
        <ion-img class="photo-frame" *ngIf="!capturedPhoto" src="../../assets/images/No-Image-Placeholder.svg" (click)="takePhoto()"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" fill="outline" (click)="takePhoto()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Hacer foto
        </ion-button>
        <ion-button color="primary" fill="outline" (click)="pickImage()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          Coger imagen
        </ion-button>
        <ion-button color="danger" fill="outline" (click)="discardImage()">
          <ion-icon slot="start" name="aperture"></ion-icon>
          Borrar imagen
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="workerForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && workerForm.get('name')?.hasError('required')">Se requiere un nombre</span>
    <ion-item lines="full">
      <ion-label position="floating">Sector</ion-label>
      <ion-input formControlName="sector" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && workerForm.get('sector')?.hasError('required')">Se requiere un sector</span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Añadir</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
